"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  core:
    disabledPackages: [
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "go-plus"
      "douglas"
      "github"
      "ctrl-dir-scroll"
      "advanced-open-file"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Cica, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 21
    invisibles: {}
  "exception-reporting":
    userId: "9dfd715f-cb44-4cd5-ba5e-28a5f385fe72"
  "go-plus":
    config:
      gopath: "~/go"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282c34"
        blue: "#61afef"
        cyan: "#56b6c2"
        green: "#98c379"
        magenta: "#c678dd"
        red: "#e06c75"
        white: "#abb2bf"
        yellow: "#e5c07b"
      zBright:
        brightBlack: "#454c59"
        brightBlue: "#69bbff"
        brightCyan: "#66d9e8"
        brightGreen: "#b5e890"
        brightMagenta: "#e48aff"
        brightRed: "#ff7a85"
        brightWhite: "#cfd7e6"
        brightYellow: "#ffd68a"
    core:
      mapTerminalsTo: "Folder"
    iconColors:
      blue: "#61afef"
      cyan: "#56b6c2"
      green: "#98c379"
      magenta: "#c678dd"
      orange: "#d19965"
      pink: "#c578dd"
      purple: "#d682f0"
      red: "#df6b75"
      yellow: "#e2c08d"
    style:
      theme: "one-dark"
    toggles:
      selectToCopy: false
  "remove-all-keybindings":
    exceptPlatformKeymap: false
  tabs: {}
  welcome:
    showOnStartup: false
