# global
'body':
  'ctrl-y': 'core:paste'
  'alt-w': 'custom:copy-selected-area'
  'ctrl-w': 'core:cut'
  'enter': 'core:enter'

  # move cursor
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-f': 'core:move-right'
  'ctrl-b': 'core:move-left'
  'left': 'core:move-left'
  'right': 'core:move-right'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'alt-f': 'editor:move-to-beginning-of-next-word'
  'alt-b': 'editor:move-to-previous-word-boundary'

  # page
  # 'ctrl-v': 'keyboard-scroll:scrollDownWithCursor'
  # 'alt-v': 'keyboard-scroll:scrollUpWithCursor'

  # select
  'ctrl-space': 'text-select-mode:toggle'

  # delete
  'ctrl-h': 'core:backspace'
  'ctrl-d': 'core:delete'
  'backspace': 'core:backspace'
  'ctrl-k': 'editor:cut-to-end-of-line'
  'alt-backspace': 'editor:delete-to-beginning-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'

  # undo
  'ctrl-/': 'core:undo'

  'ctrl-;': 'tree-view:toggle'
  'ctrl-:': 'tree-view:toggle-focus'
  'alt-x': 'command-palette:toggle'

  # tab
  'ctrl-z n': 'pane:show-next-item'
  'ctrl-z p': 'pane:show-previous-item'
  'ctrl-z k': 'tabs:close-tab'

  # buffer
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'

  # pane
  'ctrl-x 0': 'pane:close'
  'ctrl-x 1': 'close-other-panes:close-other-panes'
  'ctrl-x 2': 'pane:split-up-and-copy-active-item'
  'ctrl-x 3': 'pane:split-left-and-copy-active-item'
  'ctrl-x o': 'window:focus-next-pane'

  'ctrl-x ctrl-f': 'advanced-open-file:toggle'

  'ctrl-g': 'core:cancel'

  'ctrl-c ctrl-g': 'douglas:toggle'

  # git
  'ctrl-x g': 'github:toggle-github-tab-forcus'

# go-to-line
'.go-to-line atom-text-editor[mini]':
  'enter': 'core:confirm'

# advanced-open-file
'.advanced-open-file atom-text-editor':
  'enter': 'core:confirm'
  'tab': 'advanced-open-file:autocomplete'
  'ctrl-n': 'advanced-open-file:move-cursor-down'
  'ctrl-p': 'advanced-open-file:move-cursor-up'
  'alt->': 'advanced-open-file:move-cursor-bottom'
  'alt-<': 'advanced-open-file:move-cursor-top'
  'ctrl-enter': 'application:add-project-folder'

'atom-text-editor:not([mini])':
  'alt-y': 'clipboard-plus:toggle'

# editor
'atom-text-editor':

  'alt-g': 'go-to-line:toggle'
  'ctrl-s': 'find-and-replace:show'

  'ctrl-x ctrl-s': 'core:save'

  # move curosr
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  # comment
  'alt-?': 'editor:toggle-line-comments'

  # color picker
  'ctrl-alt-c': 'color-picker:open'

# tree-view
'.tree-view':
  'enter': 'tree-view:open-selected-entry'
  'R': 'tree-view:move'
  'D': 'tree-view:remove'
  'backspace': 'tree-view:remove-project-folder'
